.tab-group {
    border: 1px solid #e8e8e8;
  }
  
.tab-content {
    padding: 16px;
  }

  /*Card*/
  .card {
    max-width: 500px;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
  }

  .card-header-image {
    background-image: url('../../assets/images/softeamGroup.jpg');
    background-size: cover;
  }